# Modelling

In [2]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [3]:
data = pd.read_csv('../data/preprocessed_data.csv', index_col=0)

In [4]:
data.head(3)

                 fraudulent                                               text
employment_type
Other                     0  marketing intern u ny new york we re food52 we...
Full-time                 0  customer service cloud video production nz auc...
Other                     0  commissioning machinery assistant cma u ia wev...