In [1]:
import pandas as pd
from library.sb_utils import save_file

In [4]:
clean_data = pd.read_csv("../data/clean_data.csv")

First things first, let's check out what the cleaned data looks like.

In [5]:
clean_data.head(3)

,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,min_salary,max_salary,text
0,0,0,1,0,2,4,9,22,0,0,0,marketing intern us ny new york we re food52 w...
1,0,0,1,0,1,6,9,7,0,0,0,customer service cloud video production nz auc...
2,0,0,1,0,2,6,9,23,0,0,0,commissioning machinery assistant cma us ia we...