# Preprocessing

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from library.sb_utils import save_file

As always, I'll start by loading the data.

In [2]:
data = pd.read_csv("../data/clean_data.csv")

In [3]:
data.head(3)

,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,text
0,0,0,1,0,Other,Internship,Unspecified,Marketing,0,marketing intern us ny new york we re food52 w...
1,0,0,1,0,Full-time,Not Applicable,Unspecified,Customer Service,0,customer service cloud video production nz auc...
2,0,0,1,0,Other,Not Applicable,Unspecified,Other,0,commissioning machinery assistant cma us ia we...

## Encoding

There are several categorical features here that need to be encoded. I'll start by refreshing myself on the values each feature contains.

In [4]:
for col in data[['employment_type', 'required_experience', 'required_education', 'function']].columns:
    print(col + ":", set(data[col]), "\n")

employment_type: {'Contract', 'Full-time', 'Part-time', 'Temporary', 'Other'}

required_experience: {'Executive', 'Associate', 'Not Applicable', 'Entry level', 'Mid-Senior level', 'Internship', 'Director'}

required_education: {'Certification', 'Doctorate', 'Professional', 'Vocational', 'Vocational - HS Diploma', 'Some High School Coursework', 'Vocational - Degree', "Master's Degree", 'Some College Coursework Completed', 'High School or equivalent', 'Unspecified', 'Associate Degree', "Bachelor's Degree"}

function: {'Management', 'Financial Analyst', 'Consulting', 'Accounting/Auditing', 'Manufacturing', 'Science', 'Product Management', 'Quality Assurance', 'Advertising', 'Administrative', 'Public Relations', 'Art/Creative', 'Design', 'Supply Chain', 'Other', 'Education', 'Project Management', 'Writing/Editing', 'Engineering', 'Data Analyst', 'Training', 'Health Care Provider', 'Purchasing', 'Production', 'Strategy/Planning', 'Information Technology', 'Marketing', 'Distribution', 'Business Development', 'Legal', 'Finance', 'Customer Service', 'Business Analyst', 'Research', 'Human Resources', 'Sales', 'General Business'}

### Label Encoding

From the dataset, there are two columns that would require a label encoder: `employment_type` and `function`.

In [5]:
le = LabelEncoder()

In [6]:
le.fit(data['employment_type'])
data['employment_type'] = le.transform(data['employment_type'])

In [7]:
le.fit(data['function'])
data['function'] = le.transform(data['function'])

### Ordinal Encoder

In [8]:
set(data['required_experience'])

{'Associate',
 'Director',
 'Entry level',
 'Executive',
 'Internship',
 'Mid-Senior level',
 'Not Applicable'}

In [10]:
oe = OrdinalEncoder(categories=[categories])
oe.fit(data[['required_experience']])
data['required_experience'] = oe.transform(data[['required_experience']])

In [ ]:
set(data[required_education])